[Unit]
Description=stolon-keeper
Documentation=https://github.com/sorintlab/stolon
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=stolon
PermissionsStartOnly=true
#ExecStart=/bin/sh -c "GOMAXPROCS=$(nproc) /usr/bin/etcd $DAEMON_ARGS"
ExecStart=/usr/bin/stolon-keeper --cluster-name stolon --data-dir /home/stolon/postgres --pg-listen-address {{ ansible_private_ip }} --pg-su-username postgres --pg-su-passwordfile /home/rsamigullin/su-password-file --pg-repl-username replica --pg-repl-passwordfile /home/rsamigullin/replica-password-file --store-backend etcdv3 --store-endpoints {% for curHost in etcd_map %}http://{{ etcd_map[curHost].ip }}:2379{{ "," if not loop.last else "" }}{% endfor %} --store-skip-tls-verify --pg-bin-path /usr/lib/postgresql/15/bin/
Restart=on-abnormal
#RestartSec=10s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target