[Unit]
Description=PostgreSQL Cluster {{ pg_version }}/{{ pg_cluster_name }}
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/pg_ctlcluster {{ pg_version }} {{ pg_cluster_name }} start -- --pgdata=/your/config/path
ExecStop=/usr/bin/pg_ctlcluster {{ pg_version }} {{ pg_cluster_name }} stop
ExecReload=/usr/bin/pg_ctlcluster {{ pg_version }} {{ pg_cluster_name }} reload -- --pgdata=/your/config/path
Restart=on-failure

[Install]
WantedBy=multi-user.target